{
	"parserOptions": {
		"parser": "babel-eslint"
	},
	"extends": "airbnb-base",
	"env": {
		"browser": true,
		"node": true
	},
	"root": true,
	"rules": {
		"semi": 0,
		"indent": [
			0,
			"tab"
		],
		"no-tabs": 0
	}
}
